.survey { 
  width: 65%; 
  margin: 0 auto; 
  background: rgba(220,220,220,0.4); 
  padding: 10px; 
  box-shadow: 0 0 0 1px rgba(215,215,215,1);
  border-radius: 2px;
}
.survey .topic { display: flex; flex-flow: column nowrap; flex: 1;}
.survey-group { margin: 10px auto; display: flex; justify-content: space-between; }
.survey .desc {
  font-size: 12px;
  color: #888;
}
.survey .survey-group .rating {
  display: flex;
  flex-flow: row nowrap;
}
.survey button[type="submit"] {
  background: cornflowerblue;
  outline: none;
  border: cornflowerblue;
  color: white;
  font-size: 0.95rem;
  padding: 8px 15px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-top: 10px;
  float: right;
}
.survey button[type="submit"]:hover {
  background: #6381ed;
}
.survey button[type="submit"]:active {
  transform: scale(0.96);
}
.survey-radio {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.survey-radio-label { 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px; 
  color: black; 
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 28px; height: 28px;
  margin: auto 3px;
  user-select: none;
}
.survey-radio-label:focus,
.survey-radio-label:hover {
  border: 2px solid rgba(135, 178, 255,1);
}
.survey-radio:checked + .survey-radio-label {
  background-color: cornflowerblue;
  background: url('../images/checkmark.svg') cornflowerblue no-repeat center center;
  background-size:14px 14px;
  border: 2px solid cornflowerblue;
  color: transparent;
  transition: all 0.2s ease-out;
}
@media all and (max-width: 200px) {
  .survey-radio-label {
    width: 20px; height: 20px;
    margin: 0;
  }
}
@media all and (max-width:650px) {
  .survey { width: 90%;}
  .survey .survey-group { flex-flow: column nowrap; }
  .survey .survey-group:not(:first-of-type) { margin-top:20px;}
  .survey .survey-group .rating { margin-top: 8px;  }
}